body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    background-image: url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

nav{
    margin: 0;
    overflow:hidden;
    text-align: center;
}

nav ul{
    margin: 0;
    float: right;
    font-size: 18px;
    padding-top: 15px;
    padding-right: 15px;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
}

nav > ul > li > a{
    color:whitesmoke;
    display: block;
    text-decoration: none;
    margin-top: 8px;
}
.logo{
    float: left;
    position: relative;
    left: 0;
}

.bg{
   overflow: hidden;
}

section {
    text-align: center;
    font-size: 26px;
}

section > h1{
    color:aqua;
    font-size: 45px;
    animation: color-change 3s infinite;
    top: 0;
}

@keyframes color-change {
    0% { color:aqua; }
    25% { color:gold; }
    50% { color:greenyellow;}
    100% { color:plum; }
}

section > h3{
    color: cornsilk;
}

.left{
    width: 20%;
    float: left;
}
.left:hover{
    transform: translateY(-10px);
    transition: transform 0.5s;
}

figure > a > img{
    border-radius: 30px;
    max-width: 100%;
}

figcaption {
    text-align: center;
    color: white;
    margin-left: 15px;
}

.middle{
    width: 20%;
    float: left;
}
.middle:hover{
    transform: translateY(-10px);
    transition: transform 0.5s;
}

figure1 > a > img{
    border-radius: 30px;
    margin-left: 33px;
    margin-top: 17px;
    max-width: 100%;
}

figcaption1 > h2 {
    text-align: center;
    color: white;
    margin-left: 10px;
}

.right{
    width: 20%;
    float: left;
}
.right:hover{
    transform: translateY(-10px);
    transition: transform 0.5s;
}

figure2 > a >img{
    border-radius: 30px;
    margin-top: 17px;
    margin-left: 25px;
    max-width: 100%;
}

figcaption2 > h2 {
    text-align: center;
    color: white;
    margin-left: -10px;
}

.one{
    width: 20%;
    float: left;
}
.one:hover{
    transform: translateY(-10px);
    transition: transform 0.5s;
}

figure3 > a >img{
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 17px;
    max-width: 100%;
}

figcaption3 > h2{
    text-align: center;
    color: white;
    margin-right: 15px;
}

.two{
    width: 20%;
    float: left;
}
.two:hover{
    transform: translateY(-10px);
    transition: transform 0.5s;
}

figure4 > a >img{
    border-radius: 30px;
    margin-left: 15px;
    margin-top: 17px;
    max-width: 100%;
}

figcaption4 > h2{
    text-align: center;
    color: white;
    margin-right: 30px;
}